# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore virtual environment directories
venv/
ENV/

# Ignore environment variables
.env
*.session
*.session-journal
downloads/
*.db

# Ignore VSCode settings
.vscode/